{% extends 'base1.html' %}
{% load static %}

{% block content %}
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<div id="page-header-about" class="page-header has-background-image">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="page-title">ABOUT US</h1>
        <ol class="breadcrumb link-accent">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">About</a></li>
        </ol>
    </div>
</div>
<!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-content no-margin-bottom">
    <!-- ABOUT -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="section-heading">WHO WE ARE</h2>
                    <p>Phosfluorescently transform progressive deliverables whereas e-business technology. Distinctively target proactive human capital rather than future-proof total linkage. Collaboratively predominate impactful partnerships and ubiquitous communities. Professionally formulate interdependent outsourcing rather than just in time imperatives. Uniquely orchestrate quality total linkage without reliable results.</p>
                    <p>Interactively productize viral systems and functional networks. Professionally fabricate cross functional. Appropriately mesh team building expertise via cutting-edge schemas. Intrinsicly reconceptualize distinctive infrastructures rather than.</p>
                    <p>Credibly promote optimal "outside the box" thinking whereas cost effective resources. Collaboratively coordinate focused services without customized collaboration and idea-sharing. Progressively administrate fully tested benefits.</p>
                </div>
                <div class="col-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="//www.youtube.com/embed/YXVoqJEwqoQ" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END ABOUT -->
    <!-- TEAM -->
    <section>
        <div class="container">
            <h2 class="section-heading">OUR TEAM</h2>
            <p class="margin-bottom-30">Interactively productize viral systems and functional networks. Professionally fabricate cross functional. Appropriately mesh team building expertise via cutting-edge schemas. Intrinsicly reconceptualize distinctive infrastructures rather than.</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'p1/assets/img/team/person1.png' %}" class="img-responsive" alt="Person">
                        <div class="member-info">
                            <h3 class="name">Kyle Freeman</h3>
                            <span class="title">Director</span>
                            <p class="short-bio">Dramatically harness 2.0 products and leveraged sources. Dramatically drive intermandated expertise rather than clicks-and-mortar benefits.</p>
                            <ul class="list-inline social-icons social-icons-small">
                                <li><a href="#" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="dribbble-bg-hover"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" class="linkedin-bg-hover"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="twitter-bg-hover"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'p1/assets/img/team/person2.png' %}" class="img-responsive" alt="Person">
                        <div class="member-info">
                            <h3 class="name">Samuel Collins</h3>
                            <span class="title">Senior Manager</span>
                            <p class="short-bio">Dramatically harness 2.0 products and leveraged sources. Dramatically drive intermandated expertise rather than clicks-and-mortar benefits.</p>
                            <ul class="list-inline social-icons social-icons-small social-icons-square">
                                <li><a href="#" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="dribbble-bg-hover"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" class="linkedin-bg-hover"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="twitter-bg-hover"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'p1/assets/img/team/person3.png' %}" class="img-responsive" alt="Person">
                        <div class="member-info">
                            <h3 class="name">Diana Douglas</h3>
                            <span class="title">Account Executive</span>
                            <p class="short-bio">Dramatically harness 2.0 products and leveraged sources. Dramatically drive intermandated expertise rather than clicks-and-mortar benefits.</p>
                            <ul class="list-inline social-icons social-icons-small social-icons-square">
                                <li><a href="#" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="dribbble-bg-hover"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" class="linkedin-bg-hover"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="twitter-bg-hover"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TEAM -->
    <!-- CLIENTS -->
    <section>
        <div class="container">
            <h2 class="section-heading">OUR CLIENTS</h2>
            <ul class="list-inline list-logo">
                <li>
                    <a href="#"><img src="{% static 'p1/assets/img/clients/logo1.png' %}" alt="logo"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'p1/assets/img/clients/logo2.png' %}" alt="logo"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'p1/assets/img/clients/logo3.png' %}" alt="logo"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'p1/assets/img/clients/logo4.png' %}" alt="logo"></a>
                </li>
                <li>
                    <a href="#"><img src="{% static 'p1/assets/img/clients/logo5.png' %}" alt="logo"></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- END CLIENTS -->
</div>
<!-- END PAGE CONTENT -->

<div class="back-to-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
{% endblock content %}