{% extends 'base1.html' %}
{% load static %}

{% block title %}Home - ABL Engineering PLC{% endblock %}

{% block hero %}
<section class="hero-unit hero-fullscreen-bg fullscreen-image hero-rotating-words">
    <div class="container">
        <div class="left">
            <p class="lead">Made <span id="rotating-words" class="rotating-words">with love &amp; passion, for your next project, to save your time</span></p>
            <span class="scroll-down"><a href="#page-content" class="btn btn-lg btn-primary">LEARN MORE</a></span>
        </div>
    </div>
    <div class="scroll-down down-arrow">
        <a href="#page-content"><i class="fa fa-angle-down"></i></a>
    </div>
</section>
<!-- END HERO UNIT -->
{% endblock hero %}

{% block content %}
<!-- ICON INFO -->
<section class="no-padding-bottom">
    <div class="container">
        <div class="row icon-info-group">
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_lifesaver ico-styled-md"></i>
                    <h3 class="title">Free Support</h3>
                    <p>Dynamically productivate reliable action items without an expanded array.</p>
                    <a href="#" class="more">Support Info <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_cloud-download_alt ico-styled-md"></i>
                    <h3 class="title">Free Future Updates</h3>
                    <p>Dynamically productivate reliable action items without an expanded array.</p>
                    <a href="#" class="more">Getting an Update <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_question_alt2 ico-styled-md"></i>
                    <h3 class="title">Ask Anything</h3>
                    <p>Dynamically productivate reliable action items without an expanded array.</p>
                    <a href="#" class="more">Ask a Question <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ICON INFO -->
<!-- STORY -->
<section>
    <div class="container">
        <h2 class="section-heading">Background Story</h2>
        <p>Completely embrace transparent methods of empowerment before prospective partnerships. Holisticly pontificate user-centric action items rather than worldwide supply chains. Dynamically reintermediate backend core competencies whereas quality interfaces. Monotonectally engage unique internal or "organic" sources rather than virtual expertise. Uniquely develop parallel e-business with 24/7 relationships. Phosfluorescently synthesize innovative web services rather than cooperative.</p>
        <p>Proactively exploit focused paradigms rather than technically sound solutions. Professionally recaptiualize emerging methods of empowerment with proactive bandwidth. Dramatically supply professional strategic theme.</p>
    </div>
</section>
<!-- END STORY -->
<!-- WHAT WE DO -->
<section>
    <div class="container">
        <h2 class="section-heading">What We Do</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_gift ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">REVOLUTION SLIDER</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_heart_alt ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">BEAUTIFUL DESGIN</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_lightbulb ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">MULTIPURPOSE</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_like ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">FREE UPDATES &amp; SUPPORT</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_ul ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">TONS OF FEATURES</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_genius ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">FLEXIBLE &amp; EASY TO USE</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END WHAT WE DO -->

<!-- TESTIMONIAL -->
<section>
    <div class="container">
        <h2 class="sr-only">Testimonials</h2>
        <div id="testimonial-standard-carousel" class="testimonial-carousel testimonial-standard-carousel owl-carousel">
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'p1/assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Abebe Kebede</span>
                    <span class="title text-muted-2x">Owner Some Company</span>
                </div>
            </div>
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'p1/assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Almaz Kebede</span>
                    <span class="title text-muted-2x">Managing Director of Xyz Firm</span>
                </div>
            </div>
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'p1/assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Eyob Tariku</span>
                    <span class="title text-muted-2x">Esteemed Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END TESTIMONIAL -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <h2 class="sr-only">OUR CLIENTS</h2>
        <p class="text-center">For over 5 years, we have been trusted by big companies below</p>
        <ul class="list-inline list-logo">
            <li>
                <a href="#"><img src="{% static 'p1/assets/img/clients/logo1.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'p1/assets/img/clients/logo2.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'p1/assets/img/clients/logo3.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'p1/assets/img/clients/logo4.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'p1/assets/img/clients/logo5.png'%}" alt="logo"></a>
            </li>
        </ul>
    </div>
</section>
<!-- END CLIENTS -->
{% endblock content %}