{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- BREADCRUMBS -->
<div class="page-header breadcrumbs-only">
    <div class="container">
        <ol class="breadcrumb link-accent">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li><a href="{% url 'blogs:post-list' %}">Blogs</a></li>
            {% if catagory %}
            <li class="active">{{ catagory.title }}</li>
            {% else %}
            <li class="active">All</li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- END BREADCRUMBS -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <!-- MAIN CONTENT -->
            <div class="col-md-8 col-lg-9">
                <section class="no-padding-top">
                    <div class="row">
                        {% if post_list %}
                            {% for post in post_list %}
                            <div class="col-sm-6">
                                <div class="post-entry-card">
                                    <a href="{{ post.get_absolute_url }}">
                                        {% if post.picture %}
                                        <img src="{{ post.picture.url }}" class="img-responsive" alt="{{ post.title }}">
                                        {% else %}
                                        <img src="{% static 'assets/img/blog/blog-placeholder.png' %}" class="img-responsive" alt="{{ post.title }}">
                                        {% endif %}
                                    </a>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </h3>
                                        <p class="post-excerpt">{{ post.content|truncatewords:20 }}...</p>
                                        <span class="post-meta"><i class="fa fa-calendar-o"></i> {{ post.created_at|date:'M d, Y' }}</span>
                                        <a href="{{ post.get_absolute_url }}" class="read-more pull-right">Read More</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <h2 class="h3 text-fade text-center"><i class="fa fa-info-circle"></i> We currently have no blog posts in this catagory</h2>
                        {% endif %}
                    </div>
                </section>
                <!-- end latest posts -->

                <!-- categorized posts -->
                {% if popular_posts %}
                <section class="categorized-posts">
                    <h2 class="section-heading pull-left">POPULAR</h2>
                    <div class="clearfix"></div>
                    <div class="row">
                        {% for post in popular_posts %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="post-entry post-entry-simple">
                                <a href="{{ post.get_absolute_url }}">
                                    {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail.url }}" class="img-responsive" alt="{{ post.title }}">
                                    {% else %}
                                    <img src="{% static 'assets/img/blog/blog-placeholder.png' %}" class="img-responsive" alt="{{ post.title }}">
                                    {% endif %}
                                </a>
                                <h3 class="post-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
                <!-- end categorized posts -->
            </div>
            <!-- END MAIN CONTENT -->
            <!-- SIDEBAR CONTENT -->
            <div class="col-md-4 col-lg-3">
                <div class="sidebar">
                   
                    <!-- widget -->
                    {% include 'partials/sidebar.html' %}
                    <!-- end widget -->

                </div>
            </div>
            <!-- END SIDEBAR CONTENT -->
        </div>
    </div>
</div>
<!-- FOOTER -->
{% endblock content %}