{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- BREADCRUMBS -->
<div class="page-header breadcrumbs-only">
    <div class="container">
        <ol class="breadcrumb link-accent">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li><a href="{% url 'blogs:post-list' %}">Blogs</a></li>
            <li><a href="{{ post.catagory.get_absolute_url }}">{{ post.catagory.title }}</a></li>
            <li class="active">{{ post.title }}</li>
        </ol>
    </div>
</div>
<!-- END BREADCRUMBS -->
<!-- PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- blog post -->
                <article class="entry-post entry-post-single">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ post.title }}</h1>
                        <div class="meta-line">
                            <span class="post-author"><i class="fa fa-user"></i> <a href="#">{{ post.author.full_name }}</a></span>
                            <span class="post-date"><i class="fa fa-calendar"></i> {{ post.created_at|date:'M d, Y' }}</span>
                            <span class="post-comment"><i class="fa fa-comments"></i> <a href="#">{{ post.approved_comments.count }} Comment{{ post.approved_comments.count|pluralize }}</a></span>
                        </div>
                    </header>

                    {% if post.picture %}
                    <figure class="media">
                        <a href="#">
                            <img src="{{ post.picture.url }}" alt="Image Thumbnail">
                        </a>
                    </figure>
                    {% endif %}
                    <div class="content">
                        {{ post.content }}
                    </div>
                </article>
                <!-- end blog post -->
                <div class="row">
                    <div class="col-md-6 col-sm-offset-6">
                        <!-- social sharing -->
                        <div class="post-social-sharing text-right">
                            <h3 class="section-heading">Share This Story: </h3>
                            <ul class="list-inline social-icons social-icons-small">
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-plus-bg"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!-- end social sharing -->
                    </div>
                </div>
                <!-- author info -->
                <section class="post-author-info">
                    <h3 class="section-heading sr-only">About The Author</h3>
                    <div class="media">
                        <a href="#" class="media-left">
                            {% if post.author.avatar %}
                            <img src="{{ post.author.avatar.url }}" width="50" height="50" alt="Avatar">
                            {% else %}
                            <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" width="50" height="50" alt="Avatar">
                            {% endif %}
                        </a>
                        <div class="media-body">
                            <a href="#" class="author-name">{{ post.author.full_name }}</a>
                            <p class="author-title">{{ post.author.title }}</p>
                        </div>
                    </div>
                </section>
                <!-- end author info -->
                <!-- related post -->
                <section class="related-posts">
                    <h3 class="section-heading">Related Articles</h3>
                    <ul class="list-unstyled related-post-list row">
                        <li class="col-md-4">
                            <a href="#">
                                <img src="{% static 'assets/img/blog/blog-placeholder.png' %}" class="img-responsive" alt="Related Post">
                            </a>
                            <a href="#" class="post-title">Replacing 'Made in China' with 'Made in Ethiopia'</a>
                        </li>
                        <li class="col-md-4">
                            <a href="#">
                                <img src="{% static 'assets/img/blog/blog-placeholder.png' %}" class="img-responsive" alt="Related Post">
                            </a>
                            <a href="#" class="post-title">Electrical Cars in Ethiopia</a>
                        </li>

                        <li class="col-md-4">
                            <a href="#">
                                <img src="{% static 'assets/img/blog/blog-placeholder.png' %}" class="img-responsive" alt="Related Post">
                            </a>
                            <a href="#" class="post-title">Top 5 Common Design Mistakes You Should Avoid</a>
                        </li>
                    </ul>
                </section>
                <!-- end related post -->
                <!-- comments -->
                <article class="comments">
                    <h3 class="section-heading">Comment{{ post.approved_comments.count|pluralize }} ({{ post.approved_comments.count }})</h3>
                    <ul class="media-list">
                        {% for comment in post.approved_comments %}
                        <li class="media" id="comment-{{ comment.id }}">
                            <a href="#" class="media-left">
                                <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="avatar" alt="{{ comment.full_name }}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading comment-author"><a href="#">{{ comment.full_name }}</a></h4><span class="timestamp">{{ comment.created_at|date:'M d, Y h:i A' }}</span>
                                <p>{{ comment.content }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </article>
                <button type="button" class="btn btn-default center-block">Load more comments</button>
                <!-- end comments -->
                <!-- comment form -->
                <section class="comment-form margin-bottom">
                    {% if post.open_for_comment %}
                    <h3 class="section-heading">Leave A Comment</h3>
                    <p class="heading">Required fields are marked *. Your email will not be published or shared.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </section>
                <!-- end comment form -->
            </div>
            <div class="col-md-3">
                <!-- sidebar -->
                <div class="sidebar">
                   
                    <!-- Widget -->
                    {% include 'partials/sidebar.html' %}
                    <!-- /.end Widget -->
                </div>
                <!-- end sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}