{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<div id="page-header-about" class="page-header has-background-image">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="page-title">ABOUT US</h1>
        <ol class="breadcrumb link-accent">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-content no-margin-bottom">
    <!-- ABOUT -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="section-heading">WHO WE ARE</h2>
                    {{ brand.who }}
                </div>
                <div class="col-md-5">
                    <h2 class="section-heading">WHAT WE DO</h2>
                    {{ brand.what }}
                </div>
            </div>
        </div>
    </section>
    <!-- END ABOUT -->
    <!-- TEAM -->
    <section>
        <div class="container">
            <h2 class="section-heading">OUR TEAM</h2>
            <p class="margin-bottom-30">{{ brand.team_description }}</p>
            <div class="row">
                {% for staff in staff_list %}
                <div class="col-sm-4">
                    <div class="team-member">
                        {% if staff.picture %}
                        <img src="{{ staff.picture.url }}" class="img-responsive" alt="{{ staff.name }}">
                        {% else %}
                        <img src="{% static 'assets/img/team/team-avatar-placeholder.jpg' %}" class="img-responsive" alt="{{ staff.name }}">
                        {% endif %}
                        <div class="member-info">
                            <h3 class="name">{{ staff.name }}</h3>
                            <span class="title">{{ staff.title }}</span>
                            <p class="short-bio">{{ staff.description }}</p>
                            <ul class="list-inline social-icons social-icons-small">
                                {% if staff.facebook %}
                                <li><a href="{{ staff.facebook }}" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}

                                {%  if staff.lindedin %}
                                <li><a href="{{ staff.lindedin }}" class="linkedin-bg-hover"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}

                                {% if staff.twitter %}
                                <li><a href="{{ staff.twitter }}" class="twitter-bg-hover"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}       
            </div>
        </div>
    </section>
    <!-- END TEAM -->
    <!-- CLIENTS -->
    <section>
        <div class="container">
            <h2 class="section-heading">OUR CLIENTS</h2>
            <ul class="list-inline list-logo">
                {% for client in client_list %}
                <li>
                    <a href="{{ client.link }}"><img src="{{ client.logo.url }}" alt="{{ client.title }}" title="{{ client.title }}"></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- END CLIENTS -->
</div>
<!-- END PAGE CONTENT -->

<div class="back-to-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
{% endblock content %}