{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<div id="page-header-contact" class="page-header has-background-image">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="page-title">CONTACT US</h1>
        <ol class="breadcrumb link-accent">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li class="active">Contact</li>
        </ol>
    </div>
</div>
<!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-content no-margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>{{ brand.contact_description }}</p>
                <br>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                     <h3 class="text-success text-center"><i class="fa fa-check-circle"></i> {{ message }}</h3>
                    {% endif %}
                {% endfor %}
                <form method="POST" id="contact-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button id="submit-button" type="submit" class="btn btn-primary"><span>Submit Message</span></button>
                    </div>
                    <input type="hidden" name="msg-submitted" id="msg-submitted" value="true">
                </form>
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="widget">
                        <h4 class="widget-title">CONTACT INFO</h4>
                        <address class="contact-info">
                            <p><i class="icon icon_pin_alt ico-styled text-primary"></i> {{ brand.address }}</p>
                            <p>
                            <i class="icon icon_phone ico-styled text-primary"></i> 
                            {{ brand.phone1 }} {% if brand.phone2 %} <br> {{ brand.phone2 }} {% endif %}
                            </p>
                            <p><i class="icon icon_mail_alt ico-styled text-primary"></i> {{ brand.email }}</p>
                        </address>
                    </div>
                    <div class="widget">
                        <!-- <h4 class="widget-title">GETTING THERE</h4> -->
                        <div class="google-map-sidebar">
                            <div id="custom-map-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}