{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ABL Engineering PLC{% endblock %}

{% block hero %}
<section class="hero-unit hero-fullscreen-bg fullscreen-image hero-rotating-words">
    <div class="container">
        <div class="left">
            <p class="lead"><span id="rotating-words" class="rotating-words">Premium Quality Work, Value For Your Money, For Your Projects With Deadlines</span></p>
            <span class="scroll-down"><a href="#page-content" class="btn btn-lg btn-primary">LEARN MORE</a></span>
        </div>
    </div>
    <div class="scroll-down down-arrow">
        <a href="#page-content"><i class="fa fa-angle-down"></i></a>
    </div>
</section>
<!-- END HERO UNIT -->
{% endblock hero %}

{% block content %}
<!-- ICON INFO -->
<section class="no-padding-bottom">
    <div class="container">
        <div class="row icon-info-group">
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_easel ico-styled-md"></i>
                    <h3 class="title">Reliable</h3>
                    <p>{% lorem 8 w random %}</p>
                    <a href="#" class="more">About Us <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_star ico-styled-md"></i>
                    <i class="icon icon_star ico-styled-md"></i>
                    <i class="icon icon_star ico-styled-md"></i>
                    <h3 class="title">Premium Quality</h3>
                    <p>{% lorem 8 w random %}</p>
                    <a href="#" class="more">Our Services <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-center">
                    <i class="icon icon_group ico-styled-md"></i>
                    <h3 class="title">Long term Parternship</h3>
                    <p>{% lorem 8 w random %}</p>
                    <a href="#" class="more">Contact Us Now<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ICON INFO -->
<!-- STORY -->
<section>
    <div class="container">
        <h2 class="section-heading">Background Story <i class="fa fa-star"></i></h2>
        {% lorem 2 p %}
    </div>
</section>
<!-- END STORY -->
<!-- WHAT WE DO -->
<section>
    <div class="container">
        <h2 class="section-heading">What We Do</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_pencil ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">ELECTRICAL DESIGN</h2>
                        <p>{% lorem 18 w %}.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_lightbulb ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">CONSULTING SERVICE</h2>
                        <p>{% lorem 18 w %}.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    <i class="icon icon_datareport ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">PROJECT SUPERVISION</h2>
                        <p>{% lorem 18 w %}..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_like ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">ANOTHER SERVICE</h2>
                        <p>{% lorem 18 w %}.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_ul ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">ANOTHER SERVICE</h2>
                        <p>{% lorem 18 w %}.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-info icon-info-left no-margin-bottom">
                    <i class="icon icon_genius ico-styled-md text-primary"></i>
                    <div class="text">
                        <h2 class="title">MORE SERVICES</h2>
                        <p>{% lorem 18 w %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END WHAT WE DO -->

<!-- TESTIMONIAL -->
<section>
    <div class="container">
        <h2 class="sr-only">Testimonials</h2>
        <div id="testimonial-standard-carousel" class="testimonial-carousel testimonial-standard-carousel owl-carousel">
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Abebe Kebede</span>
                    <span class="title text-muted-2x">Owner Some Company</span>
                </div>
            </div>
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Almaz Kebede</span>
                    <span class="title text-muted-2x">Managing Director of Xyz Firm</span>
                </div>
            </div>
            <div class="testimonial-standard">
                <p class="content">"{% lorem 10 w random %}"</p>
                <div class="author">
                    <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    <span class="name">Eyob Tariku</span>
                    <span class="title text-muted-2x">Esteemed Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END TESTIMONIAL -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <h2 class="sr-only">OUR CLIENTS</h2>
        <p class="text-center">We have been trusted by big companies below</p>
        <ul class="list-inline list-logo">
            <li>
                <a href="#"><img src="{% static 'assets/img/clients/logo1.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'assets/img/clients/logo2.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'assets/img/clients/logo3.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'assets/img/clients/logo4.png' %}" alt="logo"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'assets/img/clients/logo5.png'%}" alt="logo"></a>
            </li>
        </ul>
    </div>
</section>
<!-- END CLIENTS -->
{% endblock content %}