{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ABL Electrical Engineering PLC{% endblock %}

{% block hero %}
<section class="hero-unit hero-fullscreen-bg fullscreen-image hero-rotating-words">
    <div class="container">
        <div class="left">
            <p class="lead">
                <span id="rotating-words" class="rotating-words">
                {% for slide in slide_list %}
                    {{ slide.title }}{% if forloop.counter < slide_list.count %}, {% endif %}
                {% endfor %}
            </p>
            <span class="scroll-down"><a href="#background-story" class="btn btn-lg btn-primary">LEARN MORE</a></span>
        </div>
    </div>
    <div class="scroll-down down-arrow">
        <a href="#page-content"><i class="fa fa-angle-down"></i></a>
    </div>
</section>
<!-- END HERO UNIT -->
{% endblock hero %}

{% block content %}
<!-- ICON INFO -->
<section class="no-padding-bottom">
    <div class="container">
        <div class="row icon-info-group">
            {% for widget in widget_list %}
                <div class="col-md-4">
                    <div class="icon-info icon-info-center">
                        {% autoescape off %}{{ widget.icon }}{% endautoescape %}
                        <h3 class="title">{{ widget.title }}</h3>
                        <p>{{ widget.sub_title }}</p>
                        <a href="{{ widget.link_url }}" class="more">{{ widget.link_title }} <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END ICON INFO -->
<!-- STORY -->
<section>
    <div class="container" id="background-story">
        <h2 class="section-heading">Background Story</h2>
        {{ brand.story }}
    </div>
</section>
<!-- END STORY -->
<!-- WHAT WE DO -->
<section>
    <div class="container">
        <h2 class="section-heading">What We Do</h2>
        <div class="row">
            {% for service in service_list %}
            <div class="col-md-4">
                <div class="icon-info icon-info-left">
                    {% autoescape off %}
                    {{ service.icon }}
                    {% endautoescape %}
                    <div class="text">
                        <h2 class="title">{{ service.title }}</h2>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END WHAT WE DO -->

<!-- TESTIMONIAL -->
<section>
    <div class="container">
        <h2 class="sr-only">Testimonials</h2>
        <div id="testimonial-standard-carousel" class="testimonial-carousel testimonial-standard-carousel owl-carousel">
            {% for testimonial in testimonial_list %}
            <div class="testimonial-standard">
                <p class="content">"{{ testimonial.quote }}"</p>
                <div class="author">
                    {% if testimonial.picture %}
                    <img src="{{ testimonial.picture.url }}" class="img-circle" alt="Avatar">
                    {% else %}
                    <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="img-circle" alt="Avatar">
                    {% endif %}
                    <span class="name">{{ testimonial.client }}</span>
                    <span class="title text-muted-2x">{{ testimonial.position }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END TESTIMONIAL -->
<!-- CLIENTS -->
<section>
    <div class="container">
        <h2 class="sr-only">OUR CLIENTS</h2>
        <p class="text-center">We have been trusted by big companies below</p>
        <ul class="list-inline list-logo">
            {% for client in client_list %}
            <li>
                <a href="{{ client.link }}"><img src="{{ client.logo.url }}" alt="{{ client.title }}" title="{{ client.title }}"></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- END CLIENTS -->
{% endblock content %}