{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<div id="page-header-services" class="page-header has-background-image">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="page-title">OUR SERVICES</h1>
        <ol class="breadcrumb link-accent">
            <li><a href="{% url 'pages:index' %}">Home</a></li>
            <li><a href="">Services</a></li>
        </ol>
    </div>
</div>
<!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-content no-margin-bottom">
    <!-- SERVICES -->
    <section>
        <div class="container">
            <h2 class="section-heading">We Provide The Best Services</h2>
            {{ brand.service_description }}
            <div class="row margin-top-50">
                {% for service in service_list %}
                <div class="col-md-4">
                    <div class="icon-info icon-info-left">
                        {% autoescape off %}
                        {{ service.icon }}
                        {% endautoescape %}
                        <div class="text">
                            <h2 class="title">{{ service.title }}</h2>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END SERVICES -->
    <!-- TESTIMONIAL -->
    <section>
        <div class="container">
            <h2 class="section-heading">What Our Clients Say</h2>
            <div class="row">
                {% for testimonial in testimonal_list %}
                <div class="col-md-6">
                    <div class="testimonial-rating">
                        {% if testimonail.picture %}
                        <img src="{{ testimonail.picture.url }}" class="img-circle avatar" alt="{{ testimonail.client }}">
                        {% else %}
                         <img src="{% static 'assets/img/avatar-placeholder.jpg' %}" class="img-circle avatar" alt="{{ testimonail.client }}">
                        {% endif %}
                        <div class="text">
                            <strong class="name">{{ testimonial.client }}</strong>
                            <span class="rating">
                                {% for star in testimonial.get_stars %}
                                    {% if star == '*' %}
                                    <i class="fa fa-star"></i>
                                    {% else %}
                                    <i class="fa fa-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <h4 class="title">{{ testimonial.title }}</h4>
                            <p class="content">
                                {{ testimonial.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END TESTIMONIAL -->
</div>
<!-- END PAGE CONTENT -->

<div class="back-to-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
{% endblock content %}