{% load static %}<!DOCTYPE html>
<html lang="en" {% if page == 'home' %}class="fullscreen-bg"{% endif %}>
<head>
	<title>{% block title %} {{ page|title }} - ABL Electrical Engineering{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ brand.description }}">
	<meta name="keywords" content="{{ brand.kewywords }}">
	<meta name="author" content="Eyob Tariku">
	<!-- CORE CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" type="text/css">
	<!-- THEME CSS -->
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/my-custom-styles.css' %}" rel="stylesheet" type="text/css">
	<!-- GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
	<!-- FAVICONS -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
	<link rel="">
	<link rel="apple-touch-icon-precomposed" href="">
	<link rel="shortcut icon" href="{{ brand.fevicon }}">

	<!--
	<script src="https://use.fontawesome.com/e770b12ff4.js"></script>
	-->

	<style>
		.hero-fullscreen-bg .container {
		  position: relative;
		  top: 40%;
		}

		.text-green {
			color: #5c9d14 !important;
		}

		.navbar-brand {
			font-size: 24px;
			font-weight: bold;
			color: #000;
		}

		.navbar-no-background .navbar-brand {
			text-transform: uppercase;
			display: inline-block;
			padding-top: 28px;
		}

		ul.nav {
			font-weight: bold !important;
		}

		.f-18 {
			font-size: 18px !important;
		}
	</style>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
	{% block wrapper %}
		<!-- NAVBAR -->
		{% block navbar %}
		{% if page == 'home' %}
		<nav class="navbar navbar-default navbar-fixed-top navbar-light-font ignore-paddingtop navbar-no-background">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a href="{% url 'pages:index' %}" class="navbar-brand">
					<!-- <img src="{% static 'assets/img/logo/bravana-lite-logo.png' %}" alt="ABL Logo">  --> 
					<span class="hidden-xs">
						<span class="text-green">ABL</span>	ELECTRICAL ENGINEERING
					</span>

					<span class="visible-xs f-18">
						<span class="text-green">ABL</span> ENGINEERING
					</span>	
				</a>
				<div id="main-nav-collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav main-navbar-nav">
						<li class="active"><a href="{% url 'pages:index' %}">HOME</a></li>
						<li><a href="{% url 'pages:about' %}">ABOUT</a></li>
						<li><a href="{% url 'pages:service' %}">SERVICES</a></li>
						<li><a href="{% url 'blogs:post-list' %}">BLOGS</a></li>
						<li><a href="{% url 'pages:contact' %}">CONTACT</a></li>
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		{% else %}
		<nav class="navbar navbar-default navbar-fixed-top ">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
				<a href="{% url 'pages:index' %}" class="navbar-brand">
					<!-- <img src="{% static 'assets/img/logo/bravana-lite-logo.png' %}" alt="ABL Logo"> -->
					<span class="hidden-xs">
						<span class="text-green">ABL</span>	ELECTRICAL ENGINEERING
					</span>

					<span class="visible-xs f-18">
						<span class="text-green">ABL</span> ENGINEERING
					</span>	
				</a>
				<div id="main-nav-collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav main-navbar-nav">
						<li><a href="{% url 'pages:index' %}">HOME</a></li>
						<li {% if page == 'about' %}class="active"{% endif %}><a href="{% url 'pages:about' %}">ABOUT</a></li>
						<li {% if page == 'service' %}class="active"{% endif %}><a href="{% url 'pages:service' %}">SERVICE</a></li>
						<li {% if page == 'blogs' %}class="active"{% endif %}><a href="{% url 'blogs:post-list' %}">BLOGS</a></li>
						<li {% if page == 'contact' %}class="active"{% endif %}><a href="{% url 'pages:contact' %}">CONTACT</a></li>
					</ul>
				</div>
				<!-- END MAIN NAVIGATION -->
			</div>
		</nav>
		{% endif %}
		{% endblock navbar %}

		{% block hero %}{% endblock hero %}
		{% block content %}{% endblock content %}
		<footer class="footer-newsletter" id="page-footer">
			<div class="container">
				<div class="footer-top">
					<h4 class="footer-heading">Subscribe to Our News</h4>
					<p class="copytext">Subscribe here to get the latest news and updates about our services.
					{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
						 <p class="text-success"><i class="fa fa-check-circle"></i> {{ message }}</p>
						{% endif %}
					{% endfor %}
					<form class="newsletter-form" method="POST" action="{% url 'pages:subscribe' %}">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.path }}">
						<div class="input-group input-group-lg">
							<input type="email" class="form-control" name="email" placeholder="youremail@domain.com" required="required">
							<span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
							</span>
						</div>
						<div class="alert"></div>
					</form>
				</div>
				<div class="footer-bottom">
					<div class="left">
						<p class="copyright-text">&copy; {% now 'Y' %}. ABL Engineering PLC. Developed by <a href="#">EyobOfficial</a></p>
					</div>
					<ul class="right list-inline social-icons social-icons-bordered social-icons-small social-icons-fullrounded">
						<li><a href="{{ brand.facebook }}"><i class="fa fa-facebook"></i></a></li>
						<li><a href="{{ brand.twitter }}"><i class="fa fa-twitter"></i></a></li>
						<li><a href="{{ brand.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->
		<div class="back-to-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
	{% endblock wrapper %}
	</div>
	<!-- END WRAPPER -->
	<!-- JAVASCRIPT -->
	<script src="{% static 'assets/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/easing/jquery.easing.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/morphext/morphext.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
	<!-- 
	<script src="{% static 'assets/js/plugins/google-map/google-map.js' %}"></script>
    -->
	<script src="{% static 'assets/js/bravana-lite.js' %}"></script>
</body>

</html>
